# Logs
logs
*.log
npm-debug.log*

# dependencies
*node_modules
*dist

# cache
*.eslintcache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
